.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  min-height: 100vh;
  background: $c-blue;
  box-shadow: 0 0 0.5rem 0 rgba(#000, 0.4);

  &-stuff {
    flex: 1;
  }

  &-top {
    padding: 1rem 0.5rem;
    background: $c-lightblue;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 0 0.5rem 0 rgba(#000, 0.4);
  }

  &-field {
    min-width: 10.5rem;
    padding: 0.5rem;
    border: 0;
    outline: none;
    background: $c-lightblue;
    box-shadow: 0 0 0.5rem 0 rgba(#000, 0.2);
  }
}

.field {
  margin: 0.5rem;
}

.submit {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border: 0;
  outline: none;
  background: $c-green;
  color: $c-white;
  text-decoration: none;
}
