// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-lightblue: #e5f4ff;
$c-blue: #31acfb;
$c-green: #4ccc75;
$c-notwhite: #f0f0f0;
$c-red: #fa0026;
$c-white: #fff;
$c-border: #cdd3d6;

@import 'box-sizing';
@import 'resets';
@import 'sidebar';


.section {
  flex-grow: 1;
  background: $c-notwhite;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &-item {
    position: relative;
    flex-basis: calc(100% / 3 - 2rem);
    flex-grow: 1;
    justify-content: center;
    min-width: 15rem;
    margin: 0.5rem;
  }

  &-top {
    padding: 1rem;
    border: 0.025rem solid $c-border;
    background: $c-white;
  }

  &-name {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &-street {
    padding: 1rem 0;
  }

  &-delete {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    border: 0;
    outline: none;
    background: $c-red;
    color: $c-white;
    text-decoration: none;
  }
}
